# Introduction

The purpose of the project is to understand the possible serverity of a car accident given the address type, location, road and weather condition, etc. This allow drivers to thoroughly evaluate condition and more careful in situations with high serverity level, reducing collisions, and give government an understanding on what type of road conditions need to be fix or add sign to reduce accident.

The main audience of the project is government, taking the result to further estimate solutions for preventing car accidents. But also for general car drivers to understand how street condition could affect the severity.

# Data

The collision data is provided by SPD and recorded by Traffic Records.

The data will be used are:
1. Collision address type: including Alley, Block, and Intersection
2. SEVERITYCODE: 3—fatality
                 2b—serious injury
                 2—injury
                 1—prop damage
                 0—unknown 
3. COLLISIONTYPE: ex. Angles, Sideswipe, Parked Car 
4. WEATHER: weather conditions. ex. Raining, Snowing, cloudy
5. ROADCOND: condition of the road during the collision. ex. wet, dry
6. LIGHTCOND: The light conditions during the collision. ex.Dark - Street Lights On, Daylight

# Methodology

In [1]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [5]:
df=pd.read_csv("Data Collisions.csv")

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [8]:
print(df)

        SEVERITYCODE           X          Y  OBJECTID  INCKEY  COLDETKEY  \
0                  2 -122.323148  47.703140         1    1307       1307
1                  1 -122.347294  47.647172         2   52200      52200
2                  1 -122.334540  47.607871         3   26700      26700
3                  1 -122.334803  47.604803         4    1144       1144
4                  2 -122.306426  47.545739         5   17700      17700
...              ...         ...        ...       ...     ...        ...
194668             2 -122.290826  47.565408    219543  309534     310814
194669             1 -122.344526  47.690924    219544  309085     310365
194670             2 -122.306689  47.683047    219545  311280     312640
194671             2 -122.355317  47.678734    219546  309514     310794
194672             1 -122.289360  47.611017    219547  308220     309500

       REPORTNO   STATUS      ADDRTYPE   INTKEY  ... ROADCOND  \
0       3502005  Matched  Intersection  37475.0  ...      Wet
1       2607959  Matched         Block      NaN  ...      Wet
2       1482393  Matched         Block      NaN  ...      Dry
3       3503937  Matched         Block      NaN  ...      Dry
4       1807429  Matched  Intersection  34387.0  ...      Wet
...         ...      ...           ...      ...  ...      ...
194668  E871089  Matched         Block      NaN  ...      Dry
194669  E876731  Matched         Block      NaN  ...      Wet
194670  3809984  Matched  Intersection  24760.0  ...      Dry
194671  3810083  Matched  Intersection  24349.0  ...      Dry
194672  E868008  Matched         Block      NaN  ...      Wet

                      LIGHTCOND PEDROWNOTGRNT  SDOTCOLNUM SPEEDING ST_COLCODE  \
0                      Daylight           NaN         NaN      NaN         10
1       Dark - Street Lights On           NaN   6354039.0      NaN         11
2                      Daylight           NaN   4323031.0      NaN         32
3                      Daylight           NaN         NaN      NaN         23
4                      Daylight           NaN   4028032.0      NaN         10
...                         ...           ...         ...      ...        ...
194668                 Daylight           NaN         NaN      NaN         24
194669                 Daylight           NaN         NaN      NaN         13
194670                 Daylight           NaN         NaN      NaN         28
194671                     Dusk           NaN         NaN      NaN          5
194672                 Daylight           NaN         NaN      NaN         14

                                               ST_COLDESC  SEGLANEKEY  \
0                                       Entering at angle           0
1       From same direction - both going straight - bo...           0
2                                  One parked--one moving           0
3                        From same direction - all others           0
4                                       Entering at angle           0
...                                                   ...         ...
194668    From opposite direction - both moving - head-on           0
194669  From same direction - both going straight - bo...           0
194670  From opposite direction - one left turn - one ...           0
194671                       Vehicle Strikes Pedalcyclist        4308
194672  From same direction - both going straight - on...           0

        CROSSWALKKEY  HITPARKEDCAR
0                  0             N
1                  0             N
2                  0             N
3                  0             N
4                  0             N
...              ...           ...
194668             0             N
194669             0             N
194670             0             N
194671             0             N
194672             0             N

[194673 rows x 38 columns]

In [11]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [12]:
compare_column=np.where(df["SEVERITYCODE"]==df["SEVERITYCODE.1"],True,False)
print(compare_column)

[ True  True  True ...  True  True  True]

In [25]:
unique,frequency=np.unique(compare_column, return_counts=True)
print("unique values:", unique)
print("Counts:", frequency)

unique values: [ True]
Counts: [194673]

In [27]:
del df["SEVERITYCODE.1"]

In [29]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [31]:
df.isnull().sum()

SEVERITYCODE           0
X                   5334
Y                   5334
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     109862
EXCEPTRSNDESC     189035
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE            18
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [36]:
df.groupby(['ADDRTYPE'])['SEVERITYCODE'].value_counts(normalize=True)

ADDRTYPE      SEVERITYCODE
Alley         1               0.890812
              2               0.109188
Block         1               0.762885
              2               0.237115
Intersection  1               0.572476
              2               0.427524
Name: SEVERITYCODE, dtype: float64

In [37]:
df.groupby(['WEATHER'])['SEVERITYCODE'].value_counts(normalize=True)

WEATHER                   SEVERITYCODE
Blowing Sand/Dirt         1               0.732143
                          2               0.267857
Clear                     1               0.677509
                          2               0.322491
Fog/Smog/Smoke            1               0.671353
                          2               0.328647
Other                     1               0.860577
                          2               0.139423
Overcast                  1               0.684456
                          2               0.315544
Partly Cloudy             2               0.600000
                          1               0.400000
Raining                   1               0.662815
                          2               0.337185
Severe Crosswind          1               0.720000
                          2               0.280000
Sleet/Hail/Freezing Rain  1               0.752212
                          2               0.247788
Snowing                   1               0.811466
                          2               0.188534
Unknown                   1               0.945928
                          2               0.054072
Name: SEVERITYCODE, dtype: float64

In [38]:
Feature = df[['ADDRTYPE','COLLISIONTYPE','WEATHER','ROADCOND','LIGHTCOND']]

In [39]:
Feature.head()

       ADDRTYPE COLLISIONTYPE   WEATHER ROADCOND                LIGHTCOND
0  Intersection        Angles  Overcast      Wet                 Daylight
1         Block     Sideswipe   Raining      Wet  Dark - Street Lights On
2         Block    Parked Car  Overcast      Dry                 Daylight
3         Block         Other     Clear      Dry                 Daylight
4  Intersection        Angles   Raining      Wet                 Daylight